*{
    background-color: black;
}


h1 {

    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 100px;
    width: 250px
}

[href] {
    color: white
}

div p{
    color: red
}
div, p{
    color:yellow
}